.header{
  padding: 12px 0;
}

.header > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.pesquisar{
  height: 40px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.pesquisar a {
  width: 25px;
  cursor: pointer;
  position: absolute;
  right: 16px;
}

.pesquisar a img{
  width: 100%;
}

.pesquisar input{
  height: 40px;
  border-radius: 20px;
  border: 2px solid rgb(200,200,200);
  outline: none;
  font-size: 18px;
  color: rgb(110,110,110);
  padding: 0 43px 0 11px;
  transition: .5s;
  width: 0px;
}

.pesquisar input.active{
  width: 350px;
  padding: 0 50px 0 11px;
}

.navHeader ul li a{
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0px rgb(120,120,120);
  color: rgb(70,70,70);
  font-weight: 600;
  letter-spacing: 1px;
}
